body{
    margin: 0;
    display: flex;
    justify-content: center;
}
h1{
    margin: 0;
    font-family: 'Cinzel Decorative', serif;
    font-weight: 100px;
    font-size: 50px;
    line-height: 200px;
}
h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 16px;
    color: black;
}
p{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    margin-top: 6px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-size: 14px;
    color: black;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover{
    color: white;
}
a:active{
    color: white;
    text-decoration: none;
}
a p{
    background-color: rgba(255, 255, 255, 0);
    transition: .3s;
    column-count: 1;
}
a p:hover{
    background-color: #2c2929;
}
a p:active{
    background-color: rgb(211, 74, 74);
}
#container{
    width: 800px;
    height: auto;
    bottom: 0;
    
    background-color: rgb(243, 170, 227);
    background-image: url("../images/bckg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 20px;
    align-items: center;

}
#masthead{
    height: 200px;
    background-image: url("../images/sakura.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

}
#links-block{
    width: 50%;
    /* <display: inline-block;> */
}
#lucky-cat{
    position: absolute;
    width: 200px;
    right: 0;
    bottom: 0;

}